<div appAppearanceAnimation side="left"></div>
<div appAppearanceAnimation side="right"></div>
<div appAppearanceAnimation side="top"></div>
<div appAppearanceAnimation side="bottom"></div>
<div appAppearanceAnimation side="left"></div>
