.dont-highlight p::selection {
    background-color: rgb(101, 121, 137, 0);
}

.dont-highlight p {
    cursor: default;
}

.pseudo-classes > div::before, .pseudo-classes > div::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 80%;
    border-bottom: 1px solid black;
}

.pseudo-classes > div > p:first-child {
    color: red;
}

.pseudo-classes > div > p:last-child {
    color: rgb(54, 46, 200);
}

.pseudo-classes > div > p:nth-child(3) {
    color: rgb(22, 249, 109);
}

.pseudo-classes > div > p:nth-last-child(2) {
    color: rgb(255, 18, 156);
}

.pseudo-classes > div > p:nth-child(2n + 1) {
    font-size: 24px;
}