<div class="dont-highlight">
    <h3>This element don`t highlight (selector ::selection)</h3>
    <p>This text doesn`t highlighting</p>
</div>
    <br>
<div class="pseudo-classes">
    <h3>Pseudo classes</h3>
    <div>
        <p>Number of element is 1</p>
        <p>Number of element is 2</p>
        <p>Number of element is 3 (found the element as p:nth-child(3))</p>
        <p>Number of element is 4 (p:nth-last-child(2))</p>
        <p>Number of element is 5</p>
        <p>Number of element is 6</p>
        <p>Number of element is 7</p>
    </div>
    <p>*made every second element with bigger font-size</p>
</div>
<br>