<nav>
  <a routerLink="" class="nav-btn">Home</a>
  <a routerLink="intersection-observer" class="nav-btn">Intersection Observer</a>
  <a routerLink="work-with-css" class="nav-btn">Work with CSS</a>
</nav>

<router-outlet></router-outlet>