/* You can add global styles to this file, and also import other style files */

.nav-btn {
    background-color: bisque;
    padding: 5px;
    height: max-content;
    width: max-content;
    color: #212121;
    text-decoration: none;
    border-radius: 10px;
    transition: all .3s;
    margin-right: 5px;
}

.nav-btn:hover {
    background-color: rgb(253, 241, 226);
}